body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url(/general/bilder/mc\ back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

#form-container {
    margin: 20px auto;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#ranking-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(231, 231, 231, 0.7);
}

#ranking-table th, #ranking-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#ranking-table th {
    background-color: #f4f4f4;
}

.buttonreset {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;   
    right : 10px;
}

h2 {
text-align: center;

}

/* home button*/
.home{
    position: fixed;
    bottom: 0px;
    border-radius: 100px;
    background-color: #262626;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin: 10px;
    left:10px;
  }

  .home p {
    margin: 0px;
  }